.modal-comment .modal-content {
  transform: translateX(-15%);
  width: 700px;
  max-height: 95vh;
  overflow: auto;
}

.user {
  background: #eaeaea;
  padding: 8px;
  border-radius: 8px;

  .text-user {
    .action {
      opacity: 0;
      transition: all 0.3s ease;
    }
  }

  &:hover .text-user {
    .action {
      opacity: 1;
    }
  }
}

.info-comment {
  border: 2px solid #000;
  padding: 20px;
  border-radius: 12px;
  .tag-name {
    color: rgb(24, 196, 24);
    padding: 0 10px;
  }

  .noi-dung {
    padding: 0 10px;
  }

  .block-img {
    width: 100%;
    img {
      width: 100%;
      padding: 15px;
    }
  }
}
