.flex-admin {
  display: flex;
  gap: 20px;
  min-height: 100vh;
  // tabs
  .tabs {
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: rgb(95, 10, 95);
    p {
      background: purple;
      border-radius: 8px;
      padding: 10px;
      min-width: 250px;
    }
    a {
      padding: 10px;
      text-decoration: none;
      color: #fff;
    }
  }
  // manager
  .manager {
    margin-left: 320px;
    padding: 20px;
    flex: 1;
  }
}
