.side {
  background: #3c3e3f;
  color: #fff;
  // min-height: calc(100vh - 100px);
  border-radius: 12px;
  margin: 20px;
  padding: 20px;
  position: sticky;
  top: 85px;
  left: 0;

  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);

  h2 {
    text-align: center;
    margin-bottom: 50px;
  }

  .department li {
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    padding: 15px;
    margin: 5px 0;
    transition: all 0.3s ease;
    border-radius: 12px;
    &:hover {
      background: #ccc;
      color: #000;
      cursor: pointer;
    }
    i {
      margin-right: 10px;
    }
  }
}
