.box-friends {
  margin: 50px 0;
  background: #3c3e3f;
  color: #fff;
  padding: 30px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  h1 {
    text-align: center;
    padding: 20px 0 50px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 20px;
    .event {
      padding: 0;
      width: 32%;
      height: 250px;
      position: relative;
      border: 5px solid #fff;
      border-radius: 12px;
      background: red;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
      }

      button {
        opacity: 0;
        /* Variables */
        --button_radius: 999px;
        --button_color: #e8e8e8;
        --button_outline_color: #000000;
        font-size: 17px;
        font-weight: bold;
        border: none;
        border-radius: var(--button_radius);
        // border-radius: 999px;
        background: var(--button_outline_color);
        // background: #eaeaea;
        position: absolute;
        z-index: 3;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        min-width: 180px;
        transition: all 0.4s ease;
      }

      &:hover button {
        opacity: 1;
        transform: translate(-50%, -10%);
      }

      .button_top {
        display: block;
        box-sizing: border-box;
        border: 2px solid var(--button_outline_color);
        border-radius: var(--button_radius);
        padding: 10px 20px;
        // background: var(--button_color);
        background: #eaeaea;
        color: var(--button_outline_color);
        transform: translateY(-0.2em);
        transition: transform 0.1s ease;
      }

      button:hover .button_top {
        /* Pull the button upwards when hovered */
        transform: translateY(-0.33em);
      }

      button:active .button_top {
        /* Push the button downwards when pressed */
        transform: translateY(0);
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .row {
    .event {
      width: 48% !important;
    }
  }
}

@media screen and (max-width: 900px) {
  .row {
    .event {
      width: 100% !important;
    }
  }
}
